[submodule "output/yeth_agent_validate_r3/foundry_validation/ALL_FINDINGS_All_findings_reference_bundle/lib/forge-std"]
	path = output/yeth_agent_validate_r3/foundry_validation/ALL_FINDINGS_All_findings_reference_bundle/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "cases/yETH/lib/forge-std"]
	path = cases/yETH/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "output/bbt_deepseek_test/foundry_validation/F-001_Unauthorized_Registry_Replacement_Enable/lib/forge-std"]
	path = output/bbt_deepseek_test/foundry_validation/F-001_Unauthorized_Registry_Replacement_Enable/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "output/erc20_deepseek_test/foundry_validation/F-001_Public_exchange_uses_Curve_with_min_dy_0/lib/forge-std"]
	path = output/erc20_deepseek_test/foundry_validation/F-001_Public_exchange_uses_Curve_with_min_dy_0/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "output/erc20_full_test/foundry_validation/F-002_Zero_slippage_protection_min_dy_0_on_C/lib/forge-std"]
	path = output/erc20_full_test/foundry_validation/F-002_Zero_slippage_protection_min_dy_0_on_C/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "output/smoke_test/foundry_validation/F-001_Unprotected_setRegistry_allows_attacker/lib/forge-std"]
	path = output/smoke_test/foundry_validation/F-001_Unprotected_setRegistry_allows_attacker/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "output/depusdt_levusdc_regression/foundry_validation/F-002_Zero-slippage_Curve_swaps_in_borrow_and/lib/forge-std"]
	path = output/depusdt_levusdc_regression/foundry_validation/F-002_Zero-slippage_Curve_swaps_in_borrow_and/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "output/harvestfinance_regression/foundry_validation/F-001_Proxy_upgrade_delegates_finalizeUpgrade/lib/forge-std"]
	path = output/harvestfinance_regression/foundry_validation/F-001_Proxy_upgrade_delegates_finalizeUpgrade/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "output/uni_regression/foundry_validation/F-001_SBF_Token__transfer_Sets_Sender_Balance/lib/forge-std"]
	path = output/uni_regression/foundry_validation/F-001_SBF_Token__transfer_Sets_Sender_Balance/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "output/harvestfinance_regression/foundry_validation/F-002_Missing_first-depositor_inflation_attack/lib/forge-std"]
	path = output/harvestfinance_regression/foundry_validation/F-002_Missing_first-depositor_inflation_attack/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "output/hegic_options_regression/foundry_validation/F-003_setCollateralizationRatio_lacks_bounds_v/lib/forge-std"]
	path = output/hegic_options_regression/foundry_validation/F-003_setCollateralizationRatio_lacks_bounds_v/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "output/balancer_20200628_regression/foundry_validation/F-001_Deflationary_Token_Accounting_Mismatch_E/lib/forge-std"]
	path = output/balancer_20200628_regression/foundry_validation/F-001_Deflationary_Token_Accounting_Mismatch_E/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "output/bmizapper_regression/foundry_validation/F-001_Arbitrary_External_Call_via_User-Control/lib/forge-std"]
	path = output/bmizapper_regression/foundry_validation/F-001_Arbitrary_External_Call_via_User-Control/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "output/bzx_regression/foundry_validation/F-003_Implementation_Fallback_Check_Only_Block/lib/forge-std"]
	path = output/bzx_regression/foundry_validation/F-003_Implementation_Fallback_Check_Only_Block/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "output/mono_regression/foundry_validation/F-001_Unprotected_Implementation_Initializatio/lib/forge-std"]
	path = output/mono_regression/foundry_validation/F-001_Unprotected_Implementation_Initializatio/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "output/balancer_20200628_regression/foundry_validation/F-003_View_Functions_Blocked_During_State-Chan/lib/forge-std"]
	path = output/balancer_20200628_regression/foundry_validation/F-003_View_Functions_Blocked_During_State-Chan/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "output/nowswap_regression/foundry_validation/F-002_Referral_fee_causes_reserve_inflation_vi/lib/forge-std"]
	path = output/nowswap_regression/foundry_validation/F-002_Referral_fee_causes_reserve_inflation_vi/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "output/akutarnft_regression/foundry_validation/F-001_Permanent_lock_of_11_539_ETH_due_to_sem/lib/forge-std"]
	path = output/akutarnft_regression/foundry_validation/F-001_Permanent_lock_of_11_539_ETH_due_to_sem/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "output/qtn_regression/foundry_validation/F-005_updateLive_is_permissionless_anyone/lib/forge-std"]
	path = output/qtn_regression/foundry_validation/F-005_updateLive_is_permissionless_anyone/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "output/compoundtusd_regression/foundry_validation/F-002_accrueInterest_lacks_nonReentrant_modifi/lib/forge-std"]
	path = output/compoundtusd_regression/foundry_validation/F-002_accrueInterest_lacks_nonReentrant_modifi/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "output/brahtopg_regression/foundry_validation/F-001_Arbitrary_external_call_in_zap_allows/lib/forge-std"]
	path = output/brahtopg_regression/foundry_validation/F-001_Arbitrary_external_call_in_zap_allows/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "output/apemaga_regression/foundry_validation/F-001_Unrestricted_Token_Burning_Backdoor_via/lib/forge-std"]
	path = output/apemaga_regression/foundry_validation/F-001_Unrestricted_Token_Burning_Backdoor_via/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "output/blueberryprotocol_regression/foundry_validation/F-002__setCloseFactor_allows_close_factor_of_0/lib/forge-std"]
	path = output/blueberryprotocol_regression/foundry_validation/F-002__setCloseFactor_allows_close_factor_of_0/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "output/earningfram_regression/foundry_validation/F-001_Uninitialized_Vault_Contract_-_Anyone_Ca/lib/forge-std"]
	path = output/earningfram_regression/foundry_validation/F-001_Uninitialized_Vault_Contract_-_Anyone_Ca/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "output/alkimiya_io_regression/foundry_validation/F-001_Missing_filled-order_check_enables_unlim/lib/forge-std"]
	path = output/alkimiya_io_regression/foundry_validation/F-001_Missing_filled-order_check_enables_unlim/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "output/particletrade_regression/foundry_validation/F-001_Owner_permanently_locked_to_address_0_d/lib/forge-std"]
	path = output/particletrade_regression/foundry_validation/F-001_Owner_permanently_locked_to_address_0_d/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "output/particletrade_regression/foundry_validation/F-002_Direct_call_to_onERC721Received_bypasses/lib/forge-std"]
	path = output/particletrade_regression/foundry_validation/F-002_Direct_call_to_onERC721Received_bypasses/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "output/pickle_regression/foundry_validation/F-001_Public_earn_function_enables_first-dep/lib/forge-std"]
	path = output/pickle_regression/foundry_validation/F-001_Public_earn_function_enables_first-dep/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "output/seneca_regression/foundry_validation/F-001__repay_with_skim_true_transfers_from_wro/lib/forge-std"]
	path = output/seneca_regression/foundry_validation/F-001__repay_with_skim_true_transfers_from_wro/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "output/sushi_router_regression/foundry_validation/F-001_Fake_unwrap_in_wrapNative_allows_drainin/lib/forge-std"]
	path = output/sushi_router_regression/foundry_validation/F-001_Fake_unwrap_in_wrapNative_allows_drainin/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "output/shoco_regression/foundry_validation/F-002_Sniper_blacklist_bypass_via_missing_send/lib/forge-std"]
	path = output/shoco_regression/foundry_validation/F-002_Sniper_blacklist_bypass_via_missing_send/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "output/teamfinance_regression/foundry_validation/F-005_ETH_refund_in__chargeFees_can_be_griefed/lib/forge-std"]
	path = output/teamfinance_regression/foundry_validation/F-005_ETH_refund_in__chargeFees_can_be_griefed/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "output/rubic_regression/foundry_validation/F-004_USDC_token_contract_0xA0b86991c6218b36c/lib/forge-std"]
	path = output/rubic_regression/foundry_validation/F-004_USDC_token_contract_0xA0b86991c6218b36c/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "output/compounduni_regression/foundry_validation/F-001_getReporterIndex_returns_first_match_onl/lib/forge-std"]
	path = output/compounduni_regression/foundry_validation/F-001_getReporterIndex_returns_first_match_onl/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "output/cover_regression/foundry_validation/F-003_migrateSafe2_ignores_transferFrom_retu/lib/forge-std"]
	path = output/cover_regression/foundry_validation/F-003_migrateSafe2_ignores_transferFrom_retu/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "output/floordao_regression/foundry_validation/F-003_Missing_zero-address_validation_on_recip/lib/forge-std"]
	path = output/floordao_regression/foundry_validation/F-003_Missing_zero-address_validation_on_recip/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "output/bmizapper_regression/foundry_validation/F-002_Zero_Slippage_Protection_on_All_Intermed/lib/forge-std"]
	path = output/bmizapper_regression/foundry_validation/F-002_Zero_Slippage_Protection_on_All_Intermed/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "output/jokinthebox_regression/foundry_validation/F-001_Missing_unstaked_flag_check_in_unstake/lib/forge-std"]
	path = output/jokinthebox_regression/foundry_validation/F-001_Missing_unstaked_flag_check_in_unstake/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "output/erc20tokenbank_regression/foundry_validation/F-001_Missing_access_control_on_doExchange_a/lib/forge-std"]
	path = output/erc20tokenbank_regression/foundry_validation/F-001_Missing_access_control_on_doExchange_a/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "output/gnosis_pay_delay_test/foundry_validation/F-001_Missing_minimum_cooldown_validation_allo/lib/forge-std"]
	path = output/gnosis_pay_delay_test/foundry_validation/F-001_Missing_minimum_cooldown_validation_allo/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
